body {
  color: black;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.button {
  background-color: black;
  border-radius:16px;
  border:8px solid black;
  padding:8px 16px;
  color: white;
  font-weight:bold;
  font-size:20px;
  transition: background-color .8s;
}
.button:hover {
	background-color: #454752;
  border: 8px solid black;
}
button:focus {
  outline: 0!important;
}
footer {
  background-color: #212529;
  width: 100%;
  position: relative;
  float: left;
  color: white;
}
footer ul {
  list-style-type: none;
}
.school {
  display:inline-block;
  width: 33%;
}
.socials {
  display: inline-block;
  width: 33%;
}
.informatica {
  display: inline-block;
  width: 33%;
}
@media screen and (min-width:0px) and (max-width:500px) {
  .linkbutton {
    margin-top: 2rem;
  }
  .col-md-10, .col-md-4, .col-md-8, .col-md-12 {
    margin: 1rem;
  }
  .loeckbutton {
    width: 40%;
    margin-left: calc(50% - 20%);
  }
  .school, .socials, .informatica {
    width: 15%;
  }
  li {
  }
 .linkbutton {
   width: 100%;
   margin-left: 0%;
 }
}
@media screen and (min-width:0px) and (max-width:1000px) {
  .col-md-10, .col-md-4, .col-md-8, .col-md-12 {
    margin: 1rem;
  }
}
