.feedbackje {
  padding: 2rem;
  background-color: #e6e6e6;
  border-radius: .5rem;
}
.feedbackantwoord {
  padding: 2rem;
  background-color: #bfbfbf;
  border-radius: .5rem;
}
.feedbackpage {
  margin-top: 56px;
}
.legeRij {
  color:transparent;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: calc(50% - 1.5px);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.pijltje {
  margin: 0px;
}
@media screen and (min-width:0px) and (max-width:500px) {
  .feedbackje {
    margin-top: 1rem;
  }
}
