.moppengenerator {
  padding: 2rem;
  background-color: #3abfe0;
  border-radius: .5rem;
  height: 750px;
}
.nieuwemop {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 70%;
}
#Mop {
  text-align: center;
}
.smiley {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: 50px;
}
