h1 {
    text-align:center;
}
body {
    font-family: roboto;
    background-image: url("https://images.alphacoders.com/204/thumb-1920-204873.jpg");
    color: white;
}
#moppentrommel {
    position: absolute;
    left: calc(50% - 33%);
    width: 66%;
    height: 50%;
    margin-top: 8rem;
    padding: 2rem;
}
  .blurBox {
    opacity: 1;
    border-radius: .5rem;
    background-color: #3abfe0;
    transition: opacity .4s;
}
.blurBox:hover {
    opacity: 1;
}
.navbutton {
    background-color:#cc0000;
	border-radius:16px;
	border:8px solid #cc0000;
	padding:16px 31px;
	color: white;
	font-weight:bold;
	transition: background-color .3s;
}
.navbutton:hover {
	background-color: #ff3333;
}
nav {
  position: fixed;
  width: 100%;
  height: 95px;
  top: 0px;
  background-color: black;
}
nav li {
  float: left;
  margin-left: 1rem;
}
nav ul {
  list-style: none;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
